@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<button >Test</button>
<br />

<label>Vælg Dato For Tur</label><input type="date" />
<div class="row" asp->
    
    @foreach (Models.Package package in Model.GetPackages())
    {
        <div class="col-5" style="border: solid 2px black; margin: 20px">
            <a href="/package/" style="text-decoration: none; color: black">
                <div>
                    <h3>Øl & Spøgelsesjagt</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempor, eros nec
                        ullamcorper pretium, urna arcu efficitur ligula, quis fermentum lorem dolor ut massa.
                        Morbi sit amet fermentum mi. Donec pellentesque, massa iaculis fermentum dapibus, lectus
                        leo consectetur augue, vel tempus felis purus sit amet nisl. Aenean a sem pellentesque,
                        pretium justo quis, dignissim mauris. Phasellus commodo orci a velit facilisis, ac
                        interdum justo tempor. Etiam sed augue ut dui tincidunt venenatis. Etiam non urna
                        velit.
                    </p>
                    <p>22/07/2022-23/07/2022</p>
                </div>
            </a>
        </div>
    }
        
   
        
        <div class="col-5" style="border: solid 2px black; margin: 20px; cursor: pointer">
            <h3>Øl & Spøgelsesjagt</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempor, eros nec 
                ullamcorper pretium, urna arcu efficitur ligula, quis fermentum lorem dolor ut massa. 
                Morbi sit amet fermentum mi. Donec pellentesque, massa iaculis fermentum dapibus, lectus 
                leo consectetur augue, vel tempus felis purus sit amet nisl. Aenean a sem pellentesque, 
                pretium justo quis, dignissim mauris. Phasellus commodo orci a velit facilisis, ac 
                interdum justo tempor. Etiam sed augue ut dui tincidunt venenatis. Etiam non urna 
                velit.
            </p>
            <p>22/07/2022-23/07/2022</p>
        </div>
        <div class="col-5" style="border: solid 2px black; margin: 20px; cursor: pointer ">
            <h3>Øl & Spøgelsesjagt</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempor, eros nec 
                ullamcorper pretium, urna arcu efficitur ligula, quis fermentum lorem dolor ut massa. 
                Morbi sit amet fermentum mi. Donec pellentesque, massa iaculis fermentum dapibus, lectus 
                leo consectetur augue, vel tempus felis purus sit amet nisl. Aenean a sem pellentesque, 
                pretium justo quis, dignissim mauris. Phasellus commodo orci a velit facilisis, ac 
                interdum justo tempor. Etiam sed augue ut dui tincidunt venenatis. Etiam non urna 
                velit.
            </p>
            <p>22/07/2022-23/07/2022</p>
        </div>
        <div class="col-5" style="border: solid 2px black; margin: 20px; cursor: pointer ">
            <h3>Øl & Spøgelsesjagt</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempor, eros nec 
                ullamcorper pretium, urna arcu efficitur ligula, quis fermentum lorem dolor ut massa. 
                Morbi sit amet fermentum mi. Donec pellentesque, massa iaculis fermentum dapibus, lectus 
                leo consectetur augue, vel tempus felis purus sit amet nisl. Aenean a sem pellentesque, 
                pretium justo quis, dignissim mauris. Phasellus commodo orci a velit facilisis, ac 
                interdum justo tempor. Etiam sed augue ut dui tincidunt venenatis. Etiam non urna 
                velit.
            </p>
            <p>22/07/2022-23/07/2022</p>
        </div>
        <div class="col-5" style="border: solid 2px black; margin: 20px; cursor: pointer ">
            <h3>Øl & Spøgelsesjagt</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempor, eros nec 
                ullamcorper pretium, urna arcu efficitur ligula, quis fermentum lorem dolor ut massa. 
                Morbi sit amet fermentum mi. Donec pellentesque, massa iaculis fermentum dapibus, lectus 
                leo consectetur augue, vel tempus felis purus sit amet nisl. Aenean a sem pellentesque, 
                pretium justo quis, dignissim mauris. Phasellus commodo orci a velit facilisis, ac 
                interdum justo tempor. Etiam sed augue ut dui tincidunt venenatis. Etiam non urna 
                velit.
            </p>
            <p>22/07/2022-23/07/2022</p>
        </div>
        <div class="col-5" style="border: solid 2px black; margin: 20px; cursor: pointer ">
            <h3>Øl & Spøgelsesjagt</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempor, eros nec 
                ullamcorper pretium, urna arcu efficitur ligula, quis fermentum lorem dolor ut massa. 
                Morbi sit amet fermentum mi. Donec pellentesque, massa iaculis fermentum dapibus, lectus 
                leo consectetur augue, vel tempus felis purus sit amet nisl. Aenean a sem pellentesque, 
                pretium justo quis, dignissim mauris. Phasellus commodo orci a velit facilisis, ac 
                interdum justo tempor. Etiam sed augue ut dui tincidunt venenatis. Etiam non urna 
                velit.
            </p>
            <p>22/07/2022-23/07/2022</p>
        </div>
</div>
