@page
@model ChristiansoeWebApplication.Pages.PackageModel
@{
}

<div class="row">
    <div class="col">
        <button>Rediger Pakke</button>
        <div>
            <h1>Øl & Spøgelsesjagt</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Integer tempor, eros nec ullamcorper pretium, urna arcu efficitur ligula, quis 
                fermentum lorem dolor ut massa. Morbi sit amet fermentum mi. Donec pellentesque, 
                massa iaculis fermentum dapibus, lectus leo consectetur augue, vel tempus felis
                purus sit amet nisl. Aenean a sem pellentesque, pretium justo quis, dignissim 
                mauris. Phasellus commodo orci a velit facilisis, ac interdum justo tempor. 
                Etiam sed augue ut dui tincidunt venenatis. Etiam non urna velit. Quisque quis 
                lacus vel dolor ornare eleifend. Aliquam lobortis, tellus ut finibus facilisis, 
                massa libero fermentum urna, sed viverra mi mauris eu justo. Maecenas quis varius sapien, ut commodo nulla.

                Fusce non tellus lorem. In sit amet fermentum ligula, a eleifend ante. Donec at 
                finibus arcu. In consequat massa nulla, non molestie lorem malesuada in. In nec 
                sollicitudin sem. Aliquam sit amet lorem rutrum, imperdiet ligula non, ultricies
                diam. Vivamus non consequat lacus, sit amet facilisis ex. Suspendisse eu eleifend
                neque, eu feugiat nibh. Morbi ac porta mauris.

                Maecenas mauris justo, tristique nec dignissim sed, sodales ac velit. Praesent 
                pulvinar justo eget porta lobortis. Suspendisse facilisis vel libero eu aliquam. 
                Suspendisse nec sollicitudin ligula. Nunc in arcu eget enim ultrices tempus. Fusce
                mollis velit facilisis, cursus sem sit amet, pretium libero. Aliquam elementum,
                lacus faucibus lobortis gravida, tortor sem tempor orci, vel ullamcorper sem odio
                vel libero. Sed fringilla tempus orci ac tempus. Nam condimentum tortor urna, id
                cursus augue feugiat id. Donec efficitur tempor justo faucibus facilisis.
            </p>
        </div>
    </div>
    <div class="col">
        <div id="scroll-box" style="border: solid 2px black; overflow: scroll; height: 400px">
            <div id="act-box-and-time">
                <div>
                    <h3>Aktivitet</h3>
                    <p>
                        Maecenas mauris justo, tristique nec dignissim sed, sodales ac velit. Praesent
                        pulvinar justo eget porta lobortis. Suspendisse facilisis vel libero eu aliquam.
                        Suspendisse nec sollicitudin ligula. Nunc in arcu eget enim ultrices tempus. Fusce
                        mollis velit facilisis, cursus sem sit amet, pretium libero. Aliquam elementum,
                        lacus faucibus lobortis gravida, tortor sem tempor orci, vel ullamcorper sem odio
                    </p>
                </div>
                <span>60 min</span>
            </div>
            <div id="act-box-and-time">
                <div>
                    <h3>Aktivitet</h3>
                    <p>
                        Maecenas mauris justo, tristique nec dignissim sed, sodales ac velit. Praesent
                        pulvinar justo eget porta lobortis. Suspendisse facilisis vel libero eu aliquam.
                        Suspendisse nec sollicitudin ligula. Nunc in arcu eget enim ultrices tempus. Fusce
                        mollis velit facilisis, cursus sem sit amet, pretium libero. Aliquam elementum,
                        lacus faucibus lobortis gravida, tortor sem tempor orci, vel ullamcorper sem odio
                    </p>
                </div>
                <span>60 min</span>
            </div>
            <div id="act-box-and-time">
                <div style="border: solid 2px black;">
                    <h3>Aktivitet</h3>
                    <p>
                        Maecenas mauris justo, tristique nec dignissim sed, sodales ac velit. Praesent
                        pulvinar justo eget porta lobortis. Suspendisse facilisis vel libero eu aliquam.
                        Suspendisse nec sollicitudin ligula. Nunc in arcu eget enim ultrices tempus. Fusce
                        mollis velit facilisis, cursus sem sit amet, pretium libero. Aliquam elementum,
                        lacus faucibus lobortis gravida, tortor sem tempor orci, vel ullamcorper sem odio
                    </p>
                </div>
                <span>60 min</span>
            </div>
        </div>
        <img alt="Båd"/>
        <span>Tid til overs før færgen: 25 min</span>
    </div>
    <div class="col-sm">
        <div style="border: solid 2px black;">
            <img alt="QR Kode" />
            <p>AB12C</p>
            <p>domain.dk/oplev</p>
        </div>
        <button>Generer Kode</button>
    </div>
</div>